<%- include('./partials/header') %>

<div class="container mt-5">
  <h1>Welcome, <%= user ? user.username : 'Guest' %>!</h1>

  <% if (user) { %>
  <a href="/check-up" class="btn btn-primary mb-3">New Check Up</a>

  <h2>Your Appointments</h2>
  <% if (appointments.length > 0) { %>
  <table class="table">
    <thead>
      <tr>
        <th>Doctor</th>
        <th>Disease</th>
        <th>Appointment Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% appointments.forEach(appointment => { %>
      <tr>
        <td><%= appointment.Doctor.User.username %></td>
        <td><%= appointment.Disease.name %></td>
        <td><%= appointment.appointmentDate %></td>
        <td><%= appointment.status %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <p>You have no appointments.</p>
  <% } %> <% } else { %>
  <p>Please <a href="/login">login</a> to manage your appointments.</p>
  <% } %>
</div>

<%- include('./partials/footer') %>
